$img-app-background : none;



$custom-color-base-bg: #033143;
$custom-color-base-fg: #FCFDFF;

$custom-color-component-bg: #00668C;
$custom-color-component-fg: #F7CE5D;


$color-app-base-bg      : $custom-color-base-bg;
$color-app-header-bg    : rgba($custom-color-base-bg, 0.5);

$color-overlay-bg    : $custom-color-base-bg;
$color-overlay-text : $custom-color-base-fg;

$color-title-text : $custom-color-component-fg;
$color-meta-primary-text : darken($custom-color-base-fg, 50%);
$color-meta-secondary-text: darken($custom-color-base-fg, 30%);
$color-description-text : $custom-color-base-fg;

$color-menu-base-bg : rgba($custom-color-base-bg, 0.9);

$color-menu-item-text :  $custom-color-component-fg;
$color-menu-item-bg: none;
$color-menu-item-chosen-text    : $custom-color-component-fg;
$color-menu-item-chosen-bg: $custom-color-component-bg;
$color-menu-item-highlight-text: $custom-color-component-bg;
$color-menu-item-highlight-bg: $custom-color-component-fg;
$color-menu-item-selected-text: $custom-color-component-bg;
$color-menu-item-selected-bg: $custom-color-component-fg;

$color-menu-search-text: $custom-color-component-fg;
$color-menu-search-bg: $custom-color-component-bg;

$color-btn-text: $custom-color-component-fg;
$color-btn-bg : $custom-color-component-bg;
$color-btn-selected-text: $custom-color-component-bg;
$color-btn-selected-bg: $custom-color-component-fg;
$color-btn-selected-border: $custom-color-component-fg;

$color-spinner-bg : #394149;

$color-player-controls-bg: rgba($custom-color-base-bg, 0.7);
$color-timeline-border : $custom-color-component-bg;
$color-timeline-bg   : $custom-color-component-bg;
$color-playhead-border : $custom-color-component-fg;
$color-playhead-bg   : $custom-color-component-fg;

$color-thumbnail-border: $custom-color-component-fg;

body{
    font-weight: normal;
}
.app-logo img{
    display: none;
}
.app-logo:before{
    content: "Sample Theme 2";
}
.app-logo {
    font-size: 2.5em;
    text-align: right;
    color: $custom-color-component-fg;
}
