
$img-app-background : none;
$img-icon-leftnav   : none;
$img-icon-search: none;

$font-family-default : "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light   : "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-medium  : "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold    : "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

$size-leftnav-collapsed-height: 86px !default;

$custom-color-base-bg: #000000;
$custom-color-base-fg: #FFFFFF;

$custom-color-component-bg: #555C73;
$custom-color-component-fg: lighten(#B3DAF2, 30%);


$color-app-base-bg      : $custom-color-base-bg;
$color-app-header-bg    : transparent;

$color-overlay-bg    : $custom-color-base-bg;
$color-overlay-text : $custom-color-base-fg;

$color-title-text : #B3DAF2;
$color-meta-primary-text : darken($custom-color-base-fg, 50%);
$color-meta-secondary-text: darken($custom-color-base-fg, 30%);
$color-description-text : $custom-color-base-fg;

$color-menu-base-bg : transparent;

$color-menu-item-text :  $custom-color-component-fg;
$color-menu-item-bg: transparent;
$color-menu-item-chosen-text    : $custom-color-component-fg;
$color-menu-item-chosen-bg: transparent;
$color-menu-item-highlight-text: $custom-color-component-fg;
$color-menu-item-highlight-bg: transparent;
$color-menu-item-selected-text: $custom-color-component-fg;
$color-menu-item-selected-bg: transparent;

$color-menu-search-text: $custom-color-component-fg;
$color-menu-search-bg: transparent;

$color-btn-text: $custom-color-component-fg;
$color-btn-bg : $custom-color-component-bg;
$color-btn-selected-text: $custom-color-component-bg;
$color-btn-selected-bg: $custom-color-component-fg;
$color-btn-selected-border: $custom-color-component-fg;

$color-spinner-bg : #394149;

$color-player-controls-bg: rgba($custom-color-base-bg, 0.7);
$color-timeline-border : $custom-color-component-bg;
$color-timeline-bg   : $custom-color-component-bg;
$color-playhead-border : $custom-color-component-fg;
$color-playhead-bg   : $custom-color-component-fg;

$color-thumbnail-border: $custom-color-component-fg;

/* style overrides */

body{
    background: linear-gradient(to bottom, #000000 0%, #000000 20%, #4c4c4c 100%) !important;
}
.app-logo img{
    display: none;
}
.app-logo:before{
    content: "SAMPLE THEME 5";
}
.app-logo {
    font-size: 2.2em;
    font-weight: lighter;
    text-align: right;
    color: $custom-color-component-fg;
}

.summaryTitle{
    text-transform: uppercase;
}


.leftnav-menulist-expanded{
    background: linear-gradient(to right, #000000 0%, #000000 40%, transparent 100%) !important;
}

.leftnav-menu-scrolling-list {
  -webkit-transition-property: -webkit-transform, top;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
}

.leftnav-list-item-static {
   font-size: 1.6em !important;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
    opacity: 0.40;
    border: none !important;
}

.leftnav-list-item-highlighted, .leftnav-list-item-selected {
    opacity: 1;
}
.leftnav-list-item-chosen{
    opacity: 0.65;
}
.leftnav-list-item-highlighted {
    background: transparent url('assets/icon_leftnav_arrowDown.png') no-repeat left 100px center !important;
}

